/* gray*/

.inlineMenu {
    background-color: #385e7e;
    border-top: 1px solid #385e7e;
}

a, .item_inner a.fees, .item_inner.question a {
    color: #D9B456;
}

.header .navbar-default .navbar-nav li.active a, .header .navbar-default .navbar-nav li.active a:hover, .header .navbar-default .navbar-nav li.active a:focus, .header .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .header .navbar-default .navbar-nav li.active li.active > a, .header .navbar-default .navbar-nav li > li > a:hover, .navbar-default .navbar-nav > .open .dropdown-menu > li > a:hover {
    color: #D9B456;
}

.captionLink {
    background-color: #385e7e;
}

.captionLink:hover, .flex-control-paging li a.flex-active, .flex-control-paging li a:hover, .carousel-indicators li.active, .courses_right_inner th {
    background-color: #D9B456;
}

.learnBtn, .related_post_sec a.more_post {
    border: 1px solid #385e7e;
}

.fc-center h2, ul.contact_info li .fa, ul.contact_info li a:hover, .courses_left_inner ul li a:focus, .courses_left_inner ul li a:hover, .courses_left_inner ul li.active a, .courses_right_inner td ul li.active a, .sidebar_item.admission .item_inner.program ul li a {
    color: #385e7e;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    border-color: #385e7e;
    background: #385e7e;
}

.pagination > li > a, .pagination > li > span {
    border: 1px solid #385e7e;
}

.tab_menu > ul li.active a, .tab_menu > ul li a:hover {
    background: #385e7e;
    border-color: #385e7e !important;
}

.tab_menu > ul li.active a::after, .tab_menu > ul li a:hover::after {
    border-top: 10px solid #385e7e;
}

#single_banner .flex-control-paging li a.flex-active {
    background: #385e7e;
}

.inlineMenu .list-inline .dropdown-menu a {
    color: #385e7e !important;
}

/* blue*/
.header .navbar-default .navbar-nav li.apply_now a, .banner .banner_caption .caption_inner a, .post_bottom ul li a span {
    background: #385e7e;
}

.commonBtn {
    background-color: #385e7e;
    border-color: #385e7e;
}

.commonBtn:hover {
    background-color: #D9B456;
    border-color: #385e7e;
}

.formArea, .getArea, .list_block, .event_calendar, .sidebar_item {
    border-top: 3px solid #385e7e;
}

.content_top .content_left ul li:before, .author_designation a, .rel_right span.date a, .meta > span a {
    color: #385e7e;
}

.sbOptions a:hover {
    color: #D9B456 !important;
}

.block_quate {
    border-left: 4px solid #385e7e;
}

.form-control:focus {
    border-color: #D9B456;
}

@media only screen and (max-width: 767px) {
    .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background: #385e7e;
    }

    .navbar-default .navbar-toggle {
        border: 1px solid #D9B456;
    }

}
